@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-color: #e6ebef;
  color: #22232b;
}

button {
  color:#22232b;
}

/* HEADER */

.header {
  height: 55px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 12px;
  line-height: 12px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo-img {
  width: 34px;
  height: 30px;
  margin-left: 1px;
}

.logo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.logo-text {
  max-width: 60px;
  margin: 13px;
  text-align: left;
}

.customer-info {
  display: flex;
}

.customer-block {
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.customer-block > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.customer-block > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer-block p:first-child {
  font-weight: bold;
  text-align: left;
}

.customer-block p:last-child {
  color: #737e84;
  text-align: left;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #737d83;
  border-radius: 50%;
  margin-right: 10px;
}

.customer-info > .circle {
  background-color: #ff8d07;
}

/* SIDEBAR */
.sidebar {
  background-color: #22232b;
  width: 60px;
  height: calc(100vh - 55px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
}

.sidebar-upper {
  display: flex;
  flex-direction: column;
}

.sidebar img {
  margin: 15px;
  width: 20px;
  height: auto;
  cursor: pointer;
}

/* MAINPAGE */

.mainpage {
  margin: 55px 150px 0;
  padding: 20px 0;
  text-align: left;
}

.mp-path {
  color: #737e84;
  font-size: 12px;
  line-height: 12px;
}

h1 {
  font-size: 30px;
  margin: 15px 0 20px 0;
}

h2 {
  font-size: 24px;
}

.mp-text {
  font-size: 18px;
  margin: 20px 0;
}

.input-form{
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  justify-content: left;
  margin-bottom: 42px;
}

label {
  width: 50%;
  position: relative;
  display: inline-block;
  margin: 0px 20px;

}

.input {
  padding: 12px;
  width: 100%;
  border: 1px solid #bdcdd6;
  appearance: none;
  outline: none;
  font-size: 18px;
  line-height: 18px;
}

.input-label {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  padding: 12px;
  font-size: 18px;

  transition: 0.2s;
  transition-timing-function: ease;

}

.input:focus + .input-label, .input:valid + .input-label {
  opacity:1;
  transform-origin: top left;
  transform: scale(0.8) translateY(-19px) translateX(5px);
  padding: 0 10px;
  opacity: 1;
  background-color: #fff;

}

/* TABS */

.tabs-names {
  display: flex;
  color: #3e515b;
  font-weight: 700;

  overflow: auto;
  position: relative;

  border-bottom: 1px solid #bdcdd6;
}

.tabs-names::-webkit-scrollbar {
  width: 0;
}

.tab {
  margin-right: 19px;
  padding-bottom: 8px;
  transition: .2s;
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.tab.active {
  border-bottom: 5px solid #20a8d8;
}

.tab.disabled {
  color: #7b858b;
}

.tab-content {
  margin: 20px 0;
  min-height: 300px;
}

.standard-line-content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 70px;
  justify-content: center;

}

.standard-line-block {
  padding: 28px;
  background-color: #fff;
  border: none;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}

.standard-line-block.selected {
  color: #fff;
  background-color: #1fa7d7;
}

/* MEDIA */


@media (max-width: 1200px) {
  .standard-line-block {
   font-size: 16px;
  }

  .tab {
    font-size: 12px;
    line-height: 12px;
  }

  h1 {
    font-size: 26px;
  }

  .mp-text {
    font-size: 18px;
  }

  h2 {
    font-size: 22px;
  }

  .input-label {
    font-size: 14px;
  }

  .input {
    font-size: 14px;
  }

  .input:focus + .input-label, .input:valid + .input-label {
    transform: scale(0.8) translateY(-15px) translateX(5px);
  
  }
}

@media (max-width: 992px) {
  .mainpage {
    margin: 55px 30px 0 90px;
  }

  .tabs-names {  
    overflow: auto;
    position: relative;
    margin: 0;
  
  }

  
}

@media (max-width: 768px) {
  .tabs-names {
    width: calc(100% + 30px);
  }

    .input-form {
      flex-direction: column;
      align-items: center;
    }

    .input-block {
      margin: 10px 0;
      width: 90%;
    }


}

@media (max-width: 576px) {

  .sidebar {
    width: 40px;
  }

  .mainpage {
    margin: 55px 30px 0 70px;
  }



  .standard-line-block {
    font-size: 14px;
   }
 
   .tab {
     font-size: 10px;
     line-height: 10px;
   }
 
   h1 {
     font-size: 24px;
   }
 
   .mp-text {
     font-size: 14px;
   }
 
   h2 {
     font-size: 20px;
   }
 
   .input-label {
     font-size: 9px;
   }
 
   .input {
     font-size: 12px;
   }

   .input:focus + .input-label, .input:valid + .input-label {
    transform: scale(0.8) translateY(-9px) translateX(5px);
  
  }

   /* ADAPTIVE CUSTOMER INFO */

   .customer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 175px;
    transition: 0.2s;
   }

   .customer-block {
    justify-content: left;
    margin: 10px;
    transition: 0.2s;
    position: relative;
   }

   .customer-block:nth-child(2),
   .customer-block:nth-child(3) {
    display: none;
   }

   .customer-info:hover .customer-block {
    display: flex;
   }

   .customer-info:hover {
    justify-content: end;
    background-color: #fff;
    border-radius: 2px;
   }

   .customer-info:hover .customer-block:first-child::after {
    transform: translateY(60%) rotate(-45deg);
    cursor: pointer;
   }

   .header {
    padding-right: 0px;
   }

   .customer-block:first-child::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%) rotate(135deg);

    border-top: 2px solid #bdcdd6;
    border-right: 2px solid #bdcdd6;

    transition: 0.2s;
    cursor: pointer;
   }
}

